@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';
.header {
    @include flexBetween(row);
    padding: 1.7rem;
    border-bottom: 1px solid #CBD3D8;
    background-color: #f8f8f8;
    a {
        text-decoration: none;
    }
    h1 {
        color: $primary-color;
        font-size: 30px;
        cursor: pointer;
        transition: transform .2s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}